@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: #101820;
  scroll-behavior: smooth !important;
  font-family: "JetBrains Mono", monospace;
  background-size: cover;
  min-height: 600px;
}

#root {
  margin: 0 auto;
  text-align: center;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  color: white !important;
}
.dynamicBackground {
  padding: 1.3rem;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s ease-out forwards;
  animation-delay: 0.2s;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.dynamicBackground1 {
  padding: 1.3rem;
  opacity: 0;
  transform: translateX(-100%) scale(0.8);
  animation: zoomIn 2s ease-out forwards;
  animation-delay: 0.2s;
}

.curve {
  .transitionSVG,
  .transitionBackground {
    width: 100vw;
    height: calc(100vh + 600px);
    top: -300px;
    left: 0;
    position: fixed;
    pointer-events: none;
    z-index: 200;
    background-color: #101820;
    background: #101820;
  }
  .transitionBackground {
    background-color: #101820;
    background: #101820;
    transition: opacity 0s linear 0.1s;
    z-index: 200;
  }
  .curveLinks {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 46px;
    color: white;
    z-index: 500;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateX(20%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media (max-width: 480px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}
