.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background: white;
  animation: blink 1s step-start infinite;
  transform: translateY(3px);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.myCode {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.homeAboutMe {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.const {
  color: #569cd6;
}

.var {
  color: #4fc1ff;
}

.equal {
  color: #cccccc;
}

.return {
  color: #c586c0;
}

.instring {
  color: #ce9178;
}

.inObject {
  color: #9cdcfe;
}

.hire {
  color: #dcdcaa;
}
.number {
  color: #b5cea8;
}
.vsBackground {
  background-color: #1f1f1f;
}
.cssVar {
  color: #d7ba7d;
}
@media (max-width: 600px) {
  .myCode {
    padding: 10px;
    height: 27rem;
  }

  .homeAboutMe {
    padding: 10px;
  }
  .cursor {
    width: 1px;
    height: 0.8em;
  }

  .const,
  .var,
  .equal,
  .return,
  .instring,
  .inObject,
  .hire,
  .number,
  .cssVar {
    font-size: 0.5rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .myCode {
    padding: 15px;
  }

  .homeAboutMe {
    padding: 15px;
  }

  .cursor {
    width: 1.5px;
    height: 0.9em;
  }

  .const,
  .var,
  .equal,
  .return,
  .instring,
  .inObject,
  .hire,
  .number,
  .cssVar {
    font-size: 16px;
  }
}
