.hireMeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}
.hireMepart1,
.hireMepart2 {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: start;
}

.hireMepart1 {
  height: 25rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  margin-left: 4rem;
  margin-right: 10rem;
}
.hireMepart2 {
  width: 25rem;
  height: 25rem;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.emailWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.copyHint {
  position: absolute;
  top: -1.5rem;
  left: 0;
  opacity: 0;
  transform: translateY(-5px) rotate(8deg);
  transition: opacity 0.3s ease;
  background-color: transparent;
  color: #fee715;
  font-weight: bold;
  width: 7.4rem;
  text-align: center;
  pointer-events: none;
}

.emailWrapper:hover .copyHint {
  opacity: 1;
}
.fingerCanvas {
  position: absolute;
  bottom: -10rem;
  left: 32rem;
  width: 30rem;
  height: 30rem;
}
@media (max-width: 600px) {
  .hireMeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    max-height: 100%;

    overflow: hidden;
    position: relative;
    flex-direction: column;
    margin-top: 7rem;
  }
  .hireMepart1,
  .hireMepart2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: start;
  }
  .hireMepart1 {
    width: 20rem;
    margin: 2rem;
  }
  .fingerCanvas {
    position: absolute;
    overflow: hidden;
    top: 20rem;
    right: 0;
    bottom: 0;
    left: 15rem;
    width: 20rem;
    height: 20rem;
  }
}
