.navigationContainer {
  max-height: 10rem;
  height: 10%;
  display: flex;
  flex-direction: row;
  color: white;
  z-index: 100;
  margin: 2rem;
  justify-content: space-between;
  align-items: center;
}

.navigationLogo {
  font-size: 2.3rem;
}
.navigationLogo2 {
  color: #fee715;
}

.navigationItems {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 1rem;
}
.navigationItems a {
  text-decoration: none;
}
.navigationItems a:active {
  text-decoration: dashed;
}
.navigationHire {
  background-color: #fee715;
  color: #101820;
  font-size: 1.2rem;
}
